h1 {
  margin-bottom: 0.5em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

header h1 {
  margin-bottom: 0.5em;
  font-family: "Crimson Text", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -0.04em;
  text-indent: 5%;
}

h2 {
  margin-bottom: 0.5em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: oblique;
}

p {
  font-size: 90%;
  font-optical-sizing: auto;
  line-height: 1.5;
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

li {
  font-size: 90%;
  font-optical-sizing: auto;
  line-height: 1.5;
  margin-bottom: 0.25em;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

button a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
