<!-- start of head-tag.html-->
<!-- Google Tag Manager -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-E0W1QRE1P4"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-E0W1QRE1P4");
</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }}</title>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="icon" type="image/x-icon" href="./media/favicon-32x32.ico" />
<!-- paragraph + h1-h2 font -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
/>
<!-- title font -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
/>
<link rel="stylesheet" href="style/main-stylesheet.css" />
<meta
  name="description"
  content="Poradnik, który tworzę w trakcie kupowania pierwszego mieszkania."
/>
<meta name="author" content="amk" />
<script src="script.js"></script>
<!-- end of head-tag.html-->
