body {
  background-color: #f0f0f0;
  color: #343740;
  font-family: "Inter", sans-serif;
}

/* headings */

h1 {
  margin-bottom: 0.5em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: #111316;
}

header > h1 {
  margin-bottom: 0.5em;
  font-family: "Crimson Text", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -0.04em;
  text-indent: 5%;
}

h2 {
  margin-bottom: 0.5em;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: larger;
  font-style: oblique;
}

/* other text */

p {
  font-size: 90%;
  font-optical-sizing: auto;
  line-height: 1.5;
  margin-bottom: 1.5em;
  font-weight: 300;
  font-style: normal;
}

li {
  font-size: 90%;
  font-optical-sizing: auto;
  line-height: 1.5;
  margin-bottom: 0.25em;
  font-weight: 300;
  font-style: normal;
}

/* other elements */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: #959292 1px solid;
  padding: 0px;
}

nav > button {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  padding: 10px 5px;
  width: 100%;
  border: none;
  border-right: 1px solid #959292;
  border-left: #959292 1px solid;
  background-color: #00877e;
}

nav > button:hover {
  background-color: #00a499;
  font-weight: bold;
}

button a {
  text-decoration: none;
  font-weight: bolder;
  color: whitesmoke;
  text-transform: uppercase;
}

/* images */

.album {
  display: inline-flex;
  flex-wrap: nowrap;
  max-height: 200px;
  background-color: #cdcbcb;
  padding: 5px;
}

.album-item {
  margin: 3px;
  object-fit: scale-down;
  max-height: inherit;
}
